@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500&display=swap');

.container {
    margin: 50px auto 0;
}

.main {
    height: 500px;
    width: 500px;
    background-color: #fd5e32;
    border-radius: 20px;
    font-family: 'Montserrat', sans-serif;
    color: #fff;
}

.leftSide {
    float: left;
    text-align: center;
    width: 225px;
    height: 475px;
    background-color: #ff7f50;
    border-radius: 15px;
    margin: 12.5px;
}

.leftSide img {
    margin: 50px 0;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    transition-duration: 0.7s;
}

.leftSide img:hover {
    transform: rotate(360deg);
}

.leftSide h1 {
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 20px;
}

.leftSide h2 {
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 40px;
}

.buttons {
    text-align: center;
}

.buttonLike {
    font-size: 16px;
    font-weight: 400;
    border: 2px solid #fd5e32;
    color: #fd5e32;
    border-radius: 20px;
    background-color: #fff;
    line-height: 20px;
    padding: 10px 20px;
    margin-bottom: 10px;
    transition-duration: 1.1s;
}

.buttonFollow {
    font-size: 16px;
    font-weight: 400;
    border: 2px solid #fd5e32;
    color: #fd5e32;
    border-radius: 20px;
    background-color: #fff;
    line-height: 20px;
    padding: 10px 20px;
    margin-bottom: 10px;
    transition-duration: 1.1s;
}

.buttonMessage {
    font-size: 16px;
    font-weight: 400;
    border: 2px solid #fd5e32;
    color: #fd5e32;
    border-radius: 20px;
    background-color: #fff;
    line-height: 20px;
    margin-bottom: 50px;
    padding: 10px 20px;
    transition-duration: 1.1s;
}

.buttonMessage:hover,
.buttonLike:hover,
.buttonFollow:hover{
    border-top: 0.3rem solid rgba(252, 69, 2, 0.884);
    border-left: 0.3rem solid rgba(252, 69, 2, 0.884);
    font-weight: 800;
    transform: rotate(-10deg);
    cursor: pointer;
}

.buttonMessage:hover .span-text,
.buttonLike:hover .span-text,
.buttonFollow:hover .span-text{
    font-weight: 600;
}

.rightSide {
    float: right;
    width: 225px;
    height: 475px;
    margin: 12.5px;
}

.posts {
    text-align: center;
    line-height: 150px;
    width: 100%;
    height: 150px;
    background-color: #ff7f50;
    border-radius: 15px;
    transition-duration: 0.7s;
    margin-bottom: 12px;
}

.likes {
    text-align: center;
    line-height: 150px;
    width: 100%;
    height: 150px;
    background-color: #ff7f50;
    border-radius: 15px;
    transition-duration: 0.7s;
    margin-bottom: 12px;
}

.follower {
    text-align: center;
    line-height: 150px;
    width: 100%;
    height: 150px;
    background-color: #ff7f50;
    border-radius: 15px;
    transition-duration: 0.7s;
}

.stat-number {
    font-size: 16px;
    font-weight: 600;
    margin-right: 5px;
}

.stat-name {
    font-size: 16px;
    font-weight: 300;
}

.posts:hover,
.likes:hover,
.follower:hover {
    background-color: #e3beb5;
}

.posts:hover .stat-name,
.likes:hover .stat-name,
.follower:hover .stat-name{
    color: #fd5e32;
}