@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500&display=swap');

.container {
    margin: 50px auto 0;
}

.main {
    display: flex;
    height: 500px;
    width: 500px;
    background-color: #fd5e32;
    border-radius: 20px;
    font-family: 'Montserrat', sans-serif;
    color: #fff;
}

.leftSide {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 45%;
    background-color: #ff7f50;
    border-radius: 15px;
    margin: 2.5%;
}

.leftSide img {
    margin-bottom: 50px;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    transition-duration: 0.7s;
}

.leftSide img:hover {
    transform: rotate(360deg);
}

.leftSide h1 {
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 20px;
}

.leftSide h2 {
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 20px;
}

.buttonLike {
    font-size: 16px;
    font-weight: 400;
    border: 2px solid #fd5e32;
    color: #fd5e32;
    border-radius: 20px;
    background-color: #fff;
    padding: 10px 20px;
    margin-bottom: 10px;
    transition-duration: 1.1s;
}

.buttonFollow {
    font-size: 16px;
    font-weight: 400;
    border: 2px solid #fd5e32;
    color: #fd5e32;
    border-radius: 20px;
    background-color: #fff;
    padding: 10px 20px;
    margin-bottom: 10px;
    transition-duration: 1.1s;
}

.buttonMessage {
    font-size: 16px;
    font-weight: 400;
    border: 2px solid #fd5e32;
    color: #fd5e32;
    border-radius: 20px;
    background-color: #fff;
    padding: 10px 20px;
    transition-duration: 1.1s;
}

.buttonMessage:hover,
.buttonLike:hover,
.buttonFollow:hover{
    border: 5px solid #fd5e32;
    transform: rotate(20deg);
    cursor: pointer;
}

.buttonMessage:hover .span-text,
.buttonLike:hover .span-text,
.buttonFollow:hover .span-text{
    font-weight: 600;
}

.rightSide {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 45%;
    height: 95%;
    margin: 2.5%;
}

.posts {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 31.6%;
    background-color: #ff7f50;
    border-radius: 15px;
    transition-duration: 0.7s;
}

.likes {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 31.6%;
    background-color: #ff7f50;
    border-radius: 15px;
    transition-duration: 0.7s;
}

.follower {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 31.6%;
    background-color: #ff7f50;
    border-radius: 15px;
    transition-duration: 0.7s;
}

.stat-number {
    font-size: 16px;
    font-weight: 600;
    margin-right: 5px;
}

.stat-name {
    font-size: 16px;
    font-weight: 300;
}

.posts:hover,
.likes:hover,
.follower:hover {
    background-color: #e3beb5;
}

.posts:hover .stat-name,
.likes:hover .stat-name,
.follower:hover .stat-name{
    color: #fd5e32;
}